@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    min-height: 1000px;
}

p{
    font-weight: 300;
    color: #111;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky{
    background: #FFF;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

header.sticky .logo{
    color: #111;
}

header .logo{
    color: #FFF;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

header .logo span{
    color: #0000FF;
}

.navigation{
    position: relative;
    display: flex;
}

.navigation ul li{
    display: inline-block;
    list-style: none;
    margin-left: 30px;
}

.navigation ul li a{
    text-decoration: none;
    color: #FFF;
    font-weight: 300;
}

header.sticky .navigation ul li a{
    color: #111;
}

.menu--toggle{
    display: none;
}

section{
    padding: 100px;
}

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('images/banner-bg.jpg') no-repeat;
    background-size: cover;
}

.banner .content{
    max-width: 900px;
    text-align: center;
}

.banner .content h2{
    font-size: 5em;
    color: #FFF
}

.banner .content h2 span{
    color: #0000FF;
}

.banner .content p{
    font-size: 1em;
    color: #FFF;
}

.btn{
    font-size: 1em;
    color: #FFF;
    background: #0000FF;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}

.btn:hover{
    letter-spacing: 6px;
}

.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col50{
    position: relative;
    width: 48%;
}

.row .col50 .img--box{
    position: relative;
    width: 100%;
    min-height: 300px;
}

.row .col50 .img--box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title--text{
    color: #111;
    font-size: 2em;
    font-weight: 300;
}

.title--text span{
    color: #0000FF;
}

.breeds .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
}

.breeds .content .box{
    width: 340px;
    margin: 20px;
    border: 15px solid #FFF;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
}

.breeds .content .box .img--box{
    position: relative;
    width: 100%;
    height: 300px;
}

.breeds .content .box .img--box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.breeds .content .box .text{
    padding: 15px 0 15px;
}

.breeds .content .box .text h3{
    font-weight: 400;
    color: #111;
}

.testimonials{
    background: url('images/testimonial-bg.jpg') no-repeat;
    background-size: cover;
}

.testimonials .title h2,
.testimonials .title p{
    color: #FFF;
}

.testimonials .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}

.testimonials .content .box{
    width: 340px;
    margin: 20px;
    padding: 40px;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.testimonials .content .box .img--box{
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.testimonials .content .box .img--box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonials .content .box .text{
    text-align: center;
}

.testimonials .content .box .text p{
    font-style: italic;
}

.testimonials .content .box .text h3{
    margin-top: 20px;
    color: #0000FF;
    font-size: 1em;
    font-weight: 600;
}

.contact--form{
    position: relative;
    padding: 75px 50px;
    background: #FFF;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

.contact--form h3{
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}

.contact--form .input--box{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.contact--form .input--box input,
.contact--form .input--box textarea{
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}

.contact--form .input--box input[type="submit"]{
    font-size: 1em;
    color: #FFF;
    background: #0000FF;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
    max-width: 100px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

footer{
    padding: 8px 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.01);
    text-align: center;
}

footer p{
    color: #333;
}

footer a{
    color: #0000FF;
    font-weight: 500;
    text-decoration: none;
}

@media screen and (max-width: 991px){
    header, header.sticky{
        padding: 10px 20px;
    }

    .navigation{
        display: none;
    }

    .navigation.active{
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #FFF;
    }

    .navigation.active li{
        margin-left: 0;
    }

    .navigation ul li{
        margin-left: 0;
        text-align: center;
        display: block;
    }

    .navigation ul li a{
        color: #111;
        font-size: 1.6em;
        padding-right: 20px;
    }

    .menu--toggle{
        display: block;
        position: relative;
        width: 60px;
        height: 60px;
        font-size: 45px;
        text-align: center;
        color: #FFF;
        cursor: pointer;
    }

    .menu--toggle.sticky{
        color: #111;
    }

    .menu--toggle.sticky{
        filter: invert(1);
    }

    section{
        padding: 20px;
    }

    .banner .content h2{
        font-size: 3em;
    }

    .title--text{
        font-size: 1.8em;
        line-height: 1.5em;
        margin-bottom: 15px;
        font-weight: 300;
    }

    .testimonials .content .box{
        margin: 10px;
        padding: 20px;
    }

    .contact--form{
        padding: 35px 40px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 480px){
    .banner .content h2{
        font-size: 2.2em;
    }
}